contourpy==1.2.0+computecanada
cycler==0.12.1+computecanada
fonttools==4.58.4
graphviz==0.21
joblib==1.5.1+computecanada
kiwisolver==1.4.5+computecanada
llvmlite==0.44.0+computecanada
matplotlib==3.7.2+computecanada
numba==0.61.0+computecanada
numpy==1.25.2+computecanada
packaging==25.0+computecanada
pandas==2.2.3+computecanada
pillow==11.2.1
pyparsing==3.0.9+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.15.1+computecanada
seaborn==0.13.2+computecanada
six==1.17.0+computecanada
threadpoolctl==3.6.0+computecanada
tzdata==2025.2+computecanada
